<!-- app -->
<section class="section-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-left">
          <h3 class="text-light font-weight-bold font-tertiary">{{ site.data.settings.app-titulo }}</h3>
          <p class="text-light font-tertiary">{{ site.data.settings.app-contenido }}</p>
          <a href="{{ site.data.settings.app-button-1-url }}" class="btn btn-secondary">{{ site.data.settings.app-button-1-texto }}</a>
          <a href="{{ site.data.settings.app-button-2-url }}" class="btn btn-secondary">{{ site.data.settings.app-button-2-texto }}</a>
        </div>
    </div>
  </div>
  
</section>
<!-- /app -->