<!-- footer -->
<footer class="section-light footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <p class="text-primary font-secondary">{{site.data.settings.author}}</p>
        </div>
      </div>
    </div>
  </div>
</footer> -->
<!-- /footer


<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>