<!-- talleres -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-1">
        <i class="{{ site.data.settings.logistica.logistica-icon }} icon-lg icon-dark mb-8 d-inline-block"></i>        
      </div>
      <div class="col-lg-10 mx-auto text-center">
        <h3 class="text-dark font-tertiary">{{ site.data.settings.logistica.logistica-titulo }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="text-dark font-tertiary">{{ site.data.settings.logistica.logistica-contenido }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <a class="btn btn-primary btn-lg no-transform" href="{{ site.data.settings.logistica.logistica-url }}">{{ site.data.settings.logistica.logistica-url-text }}</a>
      </div>
  </div>

</section>
<!-- /talleres -->