<!-- talleres -->
<section class="section-2">
  <div class="container">

    <div class="row">
      <div class="col-lg-8 text-left">
        <h3 class="text-light font-tertiary">{{ site.data.settings.actividades.actividades-titulo }}</h3>
        <p class="text-light font-tertiary">{{ site.data.settings.actividades.actividades-contenido }}</p>
        <a href="{{ site.baseurl }}{{ site.data.settings.actividades.actividades-button-url }}" class="btn btn-secondary">{{ site.data.settings.actividades.actividades-button-texto }}</a>

      </div>
      <div class="col-lg-2"></div>

    </div>

  </div>

</section>
<!-- /talleres -->