<!-- talleres -->
<section class="section-2">
  <div class="container">
  <div class="row">
     <div class="col-lg-10 mx-auto text-center">
        <h3 class="text-dark font-tertiary">{{ site.data.settings.actividades.actividades-titulo }}</h3>
        <p class="text-dark font-tertiary">{{ site.data.settings.actividades.actividades-contenido }}</p>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
      <a href="{{ site.data.settings.actividades.actividades-talleres-url }}" class="btn-i btn-icon">
        <i class="{{ site.data.settings.actividades.actividades-talleres-icon }} icon mb-5 d-inline-block"></i>        
      </a>
    </div>
    <div class="col-lg-2 mx-auto"></div>
    <div class="col-lg-2">
      <a href="{{ site.data.settings.actividades.actividades-cronograma-url }}" class="btn-i btn-icon">
        <i class="{{ site.data.settings.actividades.actividades-cronograma-icon }} icon mb-5 d-inline-block"></i>
      </a>
    </div>
    <div class="col-lg-2"></div>

  </div>
</section>
<!-- /talleres -->