{% assign list = {{site.data.settings.logistica-transportes}} %}
{% assign listSize = list | size %}
{% assign halfSize = listSize | divided_by: 2 %}
{% assign halfSizePlusOne = halfSize + 1 %}

<div class="row">
    <div class="col-lg-4 ml-2">
        <ul>
            {% for item in list limit:halfSize %}
            <li class="text-primary mt-4"><a  href="{{ item.url }}">{{ item.nombre }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-4 mr-2">
        <ul>
            {% for item in list offset:halfSizePlusOne %}
            <li class="mt-4"><a href="{{ item.url }}">{{ item.nombre }}</a></li>
            {% endfor %}
            </ul>
    </div>
</div>
