{% if site.data.settings.varios-sections %}
<!-- varios -->
<section class="section-4">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>

      {% for misc in site.data.settings.varios-sections %}
      <div class="col-md-4">
        <div class="card hover-shadow shadow">
          <div class="card-body {% if misc.activo %}active-bg-primary{% endif %} text-center px-4 py-5">
            <img src="{{ site.baseurl }}/assets/images/illustrations/{{ misc.icon }}" class="icon-primary mb-5 d-inline-block"></i>
            <h4 class="text-primary mb-2">{{ misc.titulo }}</h4>
            <p class="text-primary text-justify ml-3 mr-3">{{ misc.descripcion }}</p>
            <a href="{{ misc.button-url }}" class="btn btn-secondary">{{ misc.button-texto }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /varios -->
{% endif %}