@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
  font-family: 'Chivo';
  src: url('../fonts/Chivo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Chivo';
  src: url('../fonts/Chivo-Black.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Chivo';
  src: url('../fonts/Chivo-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'Rubik';
src: url('../fonts/Rubik-Bold.woff') format('woff');
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'Rubik';
src: url('../fonts/Rubik-Italic.woff') format('woff');
font-weight: normal;
font-style: italic;
}
