@font-face {
    font-family: 'Chivo';
    src: url('/assets/fonts/Chivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Chivo';
    src: url('/assets/fonts/Chivo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Chivo';
    src: url('/assets/fonts/Chivo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
  }
  