// Color Variables
$primary-color: #4A148C;
$secondary-color: #00695C;
$third-color: #F3DE5E;
$fourth-color: #FFF8E1;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #FFF8E1;
$body-color:  #FFF8E1;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Chivo', sans-serif;
$secondary-font: 'Chivo', sans-serif;

//Margins
$section-padding-top: 80px;
$section-padding-bottom: 80px;

