// Color Variables
$primary-color: #57008E;
$secondary-color: #00816A;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #00816A;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$icon-font: 'themify';

//Margins
$section-padding-top: 80px;
$section-padding-bottom: 80px;