---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white without-spacing">----</h1>
        <h1 class="text-white font-weight-bold font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/logistica.png" alt="illustrations" class="bg-shape-3">
</section>
<!-- /page title -->

<!-- logistica -->
<section class="section-light pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ content }}
      </div>
    </div>
  </div>
</section>
