---
layout: default
---

<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white without-spacing">----</h1>
        <h3 class="text-white font-weight-bold font-tertiary">{{ page.title }}</h3>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <div>
    <img src="{{ site.baseurl }}/assets/images/illustrations/logistica.png" alt="illustrations" class="bg-shape-1 img-fluid">
  </div>
</div>

</section>
<!-- /page title -->

<!-- logistica -->
<section class="section-light pt-5 mb-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ content }}
      </div>
    </div>
  </div>
</section>

<!-- Inserto mapa con el contenido por si es necesario controlar el orden. Podemos moverlo al HTML en el futuro -->
 <section class="section-light mt-1 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d192339.1991737452!2d-71.50472618330446!3d-41.12797677847372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x961a7b1520c860e5%3A0x8210ae97cb7b9a65!2sSan%20Carlos%20de%20Bariloche%2C%20R%C3%ADo%20Negro%20Province!5e0!3m2!1sen!2sar!4v1693957496658!5m2!1sen!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
  </div>
</section>
