---
layout: default
---
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white without-spacing">----</h1>
        <h3 class="text-white font-weight-bold font-tertiary">{{ page.title }}</h3>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <div>
    <img src="{{ site.baseurl }}/assets/images/illustrations/logistica.png" alt="illustrations" class="bg-shape-1 img-fluid">
  </div>
</div>

</section>
<!-- /page title -->

<!-- logistica -->
<section class="section-light pt-5 mb-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ content }}
      </div>
    </div>
  </div>
</section>

<!-- Inserto mapa con el contenido por si es necesario controlar el orden. Podemos moverlo al HTML en el futuro -->

<!-- <section class="section-light mt-1 pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div id="map" style="height: 400px;"></div>
      </div>
      <script>
      var map = L.map('map').setView([-41.1335, -71.3103], 13);

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      L.marker([-41.1335, -71.3103]).addTo(map)
          .bindPopup('Alojamiento 1.')
          .openPopup();      
      var circle = L.circle([-41.1335, -71.3103], {
              color: 'red',
              fillColor: '#f03',
              fillOpacity: 0.5,
              radius: 500
          }).addTo(map); 

      // L.marker([-41.5, -71.5]).addTo(map)
      //     .bindPopup('Alojamiento 2.');
          
      // circle.bindPopup("I am a circle.");
      // var geojsonFeature = {
      //     "type": "Feature",
      //     "properties": {
      //         "name": "Coors Field",
      //         "amenity": "Baseball Stadium",
      //         "popupContent": "This is where the Rockies play!"
      //     },
      //     "geometry": {
      //         "type": "Point",
      //         "coordinates": [-41.1335, -71.3103]
      //     }
      // };
      // L.geoJSON(geojsonFeature).addTo(map);
    
      </script>
      
  </div>
</section> -->
