---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white without-spacing">----</h1>
        <h1 class="text-white font-weight-bold font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/prensa.png" alt="illustrations" class="bg-shape-1">
</section>
<!-- /page title -->

<!-- about -->
<section class="section-light pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-primary font-weight-bold">
        {{ content }}
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 mt-5">
        <video controls class="embed-responsive embed-responsive-16by9">
          <source src="{{ site.baseurl }}/assets/videos/quees-video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
{% include quees-pilares-section.html %}

