---
layout: default
---

<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col-12">
          <h1 class="text-white without-spacing">----</h1>
          <h1 class="text-white font-weight-bold font-tertiary">{{ page.title }}</h1>
        </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/debatimos.png" alt="illustrations" class="bg-shape-2">
</section>
<!-- /page title -->

<!-- talleres -->
<section class="section-light pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ content }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Listado de Ejes y talleres</h3> 
        <a href="{{site.baseurl}}/assets/docs/Grilla_de_talleres.pdf" class="btn btn-secondary">DESCARGAR LISTADO</a>
      </div>
    </div>

  </div>
</section>
<!-- /porque -->
