---
layout: default
---

<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-white without-spacing">----</h1>
          <h2 class="text-white font-weight-bold font-tertiary zindex-1">{{ page.title }}</h2>
        </div>
        <!-- background shapes -->
      </div>
    </div>
    <div>
      <img src="{{ site.baseurl }}/assets/images/illustrations/debatimos.png" alt="illustrations"
        class="bg-shape-1 img-fluid ">
    </div>
</section>
<!-- /page title -->

<!-- talleres -->
<section class="section-light pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ content }}
      </div>
    </div>
  </div>
</section>
<!-- /porque -->

{% include conclusiones-section.html %}
